

.img-crt{
    background-color: black;
}

.create-bord{
    padding: 50px 50px 50px 50px;
    margin-bottom: 0px;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

.back-butt{
    position: absolute;
    left: 0;
    right: 0;
    gap: 40px;
    padding: 50px;
    margin-top: 5rem;
    /* margin-left: 29rem;
    margin-right: 32rem; */
    background-color: lavender;
    border-radius: 50px;
    justify-content: center;
}

.back-butt:hover{
    position: absolute;
    left: 0;
    right: 0;
    gap: 40px;
    padding: 50px;
    justify-content: center;
    margin-top: 5rem;
    /* margin-left: 29rem;
    margin-right: 32rem; */
    border-radius: 50px;
    border: 2px solid lavender;
    background-color: white;
    /* transition-delay: 0; */
}

.head-idx{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.text-idx{
    color: white;
}

/* #index-butt{
    color: lavender;
} */

.butt-idx{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.butt-idx:hover{
    padding: 30px 60px 30px 60px;
    background-color: #1B1919;
    border-radius: 45px;
    text-decoration: none;
    color: lightskyblue;
    font-size: large;
}

.container {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img-bg-index{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7),rgba( 0, 0, 39, 0.7)), url(/assets/gradien.png);
    background-size: cover;
    background-position: center;
}

